# Node modules
node_modules/

# Build output
.next/
out/

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env*

# TypeScript
*.tsbuildinfo

# Local config
*.local

# VSCode
.vscode/

# Mac system files
Icon?

# Others
coverage/ 